* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    background-color: rgb(1, 98, 75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info, .choice {
    background-color: rgb(111, 188, 170);
}
